{{- if .Values.bgp.enabled }}
{{- if .Values.bgp.bgpPeer }}
{{- range $peer := .Values.bgp.bgpPeer }}
---
apiVersion: crd.projectcalico.org/v1
kind: BGPPeer
metadata:
  name: bgppeer-{{ printf "%.0f" $peer.asNumber }}-{{ $peer.peerIP }}
spec:
  asNumber: {{ printf "%.0f" $peer.asNumber }}
  {{- if $peer.nodeSelector }}
  nodeSelector: {{ $peer.nodeSelector }}
  {{- end }}
  peerIP: {{ $peer.peerIP }}
  {{- if $peer.filters }}
  filters:
  {{- toYaml $peer.filters | nindent 2 }}
  {{- end }}
{{- end }}
{{- end }}
{{- end }}
